/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    margin: 0 auto;
    width: calc(100% - 60px);

    @media screen and (min-width: $breakpoint-md) {
        width: calc(100% - 120px);
    }
}
.wrapper-small {
    margin: 0 auto;
    width: calc(100% - 60px);

    @media screen and (min-width: $breakpoint-md) {
        width: calc(100% - 240px);
    }
}

// Utilisation du css Layout Grid pour faire le wrapper
.grid-wrapper {
    display: grid;
    grid-template-columns: auto minmax($breakpoint-xs, $breakpoint-md) auto;
    grid-column-gap: 30px;
}

.grid-center {
    grid-column: 2/3;
}
